/* General Styles */

*, *:before, *:after {
    box-sizing: border-box;
}

/* Basic Styles */

html {
    background-color: darkslategrey;
    color: white;
    
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.17rem;}
h4 {font-size: 1.12rem;}
h5 {font-size: 0.83rem;}
h6 {font-size: 0.75rem;}

.wrapper {

    margin-right: auto; 
    margin-left:  auto; 

    max-width: 960px;
    width: 90%;
    
    padding-right: 1rem; 
    padding-left:  1rem; 

}

section,.section {
    display: flex;
    flex-flow: column nowrap;

}

article {
    margin: 1rem 0rem;
}

button {
    width: 40%;
}

a:link,a:visited,a:active {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: lightgrey;
    color: grey;
}


/* Header */
/* Navigation */

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-evenly;

    width: 80%;
}

nav ul li {
    list-style-type: none;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.selected-page li {
    color: grey;
}



/* Eating Styles */

/* Recipies Section */

.ingredients-tbl {
    text-align: left;
    display: inline-block;
    vertical-align: text-top;
}

.ingredients-tbl tr td:nth-child(1) {
    text-align: right;
    min-width: 20%;
}

.ingredients-tbl tr td:nth-child(2) {
    min-width: 20%;
}


/* Code Of Conduct Section */

.coc-img-gallery {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
        
}

.coc-img-gallery-box {
    display: block;
    position: relative;

    width: 30%;

    margin: 2% 0;
}

@media (max-width: 450px) {
    .coc-img-gallery-box {
        width: 80%;
    }
}

.coc-img-gallery-img {
    display: block;
    width: 100%;

}

.coc-img-gallery-txt {
 
    position: absolute;
    bottom: 0%;

    background-color: grey;
    color: white;
 
    text-align: center;

    padding: 3% 1%;
    margin: 0;
    
    width: 100%;

}



/* Games Styles */

/* Word Riddle Styles */

.word-to-guess {
    font-size: 2rem;
    letter-spacing: 1rem;
}

.word-riddle-guess {
    width: 40%;
}

.word-riddle-input {
    display: flex;
    flex-flow: column nowrap;
}