/* General Styles */

*, *:before, *:after {
    box-sizing: border-box;
}

/* Basic Styles */

html {
    background-color: darkslategrey;
    color: lightgrey;
    font-size: 1rem;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.17rem;}
h4 {font-size: 1.12rem;}
h5 {font-size: 0.83rem;}
h6 {font-size: 0.75rem;}

.wrapper {

    margin-right: auto; 
    margin-left:  auto; 

    max-width: 960px;
    width: 90%;
    
    padding-right: 1rem; 
    padding-left:  1rem; 

}

section {
    display: flex;
    flex-flow: column nowrap;

}

article {
    margin: 1rem 0rem;
}

button {
    width: 40%;
}

a:link,a:visited,a:active {
    text-decoration: none;
    color: lightgrey;
}

a:hover {
    background-color: lightgrey;
    color: grey;
}


/* Header */

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-evenly;

    width: 80%;
}

nav ul li {
    list-style-type: none;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.selected-page li {
    color: grey;
}


/* Word Riddle Styles */

.word-to-guess {
    font-size: 2rem;
    letter-spacing: 1rem;
}

.word-riddle-guess {
    width: 40%;
}

.word-riddle-input {
    display: flex;
    flex-flow: column nowrap;
}